@tailwind base;

@layer base {
	* {
		@apply font-sans;
	}
	h1 {
		@apply text-3xl sm:text-7xl font-black font-sans;
	}
	h2 {
		@apply text-xl sm:text-3xl font-bold;
	}
	/* a {
		@apply underline;
	} */
	body {
		@apply font-sans text-black bg-white;
	}
	h1 {
		@apply mt-5 mb-3 text-2xl sm:text-4xl font-extrabold tracking-tight;
	}
	h1:first-child {
		@apply mt-0;
	}
	h2 {
		@apply mt-3 mb-2 text-2xl sm:text-3xl font-extrabold tracking-tight;
	}
	h3 {
		@apply mt-3 mb-2 text-lg sm:text-xl font-bold tracking-tight;
	}
	h4 {
		@apply mt-3 mb-2 text-base font-bold inline;
	}
	ul li {
		@apply list-disc text-black;
	}
	ul li::before {
		@apply text-black;
	}
	ul {
		@apply my-2;
	}
	li:not([class]) > p {
		@apply m-0 p-0;
	}
	hr {
		@apply my-8;
	}
	p b {
		@apply font-bold;
	}
	.image-wrapper-landscape {
		@apply w-full relative h-0 pt-threebytwo overflow-hidden;
	}
	.image-wrapper-portrait {
		@apply w-full relative h-0 pt-ninebysixteen overflow-hidden;
	}
	.prose-sm ul > li {
		@apply ml-6;
	}
	blockquote {
		@apply py-1 pl-6 text-black font-bold border-l-8 !important;
	}
	blockquote p::before,
	blockquote p::after {
		@apply hidden;
	}
	.storyblok-bloks > *:last-child {
		@apply mb-10;
	}
	select:after {
		padding-right: 15px;
	}
}

@tailwind components;
@tailwind utilities;
